.loadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
}
.load1, .load2, .load3{
    width: 2rem; height: 2rem;
    background-color: #000;
    border-radius: 50%;
}
.load1{
    animation: loading 1s linear 0s infinite alternate;
}
.load2{
    animation: loading 1s linear 0.33s infinite alternate;
}
.load3{
    animation: loading 1s linear 0.66s infinite alternate;
}


@keyframes loading {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0);
    }
}